body {
  background-color: rgb(99, 117, 121);
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form input {
    display: block;
    margin-bottom: 10px;
  }
  
  form button {
    margin-top: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  